In [1]:
import folium
from folium import plugins
import pandas as pd
import random

In [7]:
# http://www.nyc.gov/html/tlc/html/about/trip_record_data.shtml
p = 0.01
data = pd.read_csv('./yellow_tripdata_2015-12.csv', 
                   nrows=50000, 
                   skiprows=lambda i: i>0 and random.random() > p)

print(data.sample(5))
data.info()

       VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
40874         2  2015-12-10 22:21:53   2015-12-10 22:28:21                5
14436         2  2015-12-04 10:36:57   2015-12-04 10:46:17                6
32440         1  2015-12-08 21:02:43   2015-12-08 21:22:26                1
16869         1  2015-12-06 15:15:37   2015-12-06 15:22:39                1
42346         1  2015-12-11 07:47:53   2015-12-11 08:15:32                1

       trip_distance  pickup_longitude  pickup_latitude  RatecodeID  \
40874           0.93        -73.974762        40.762028           1
14436           0.98        -73.982254        40.762817           1
32440           3.30        -73.982071        40.778732           1
16869           1.20        -73.991127        40.749992           1
42346           4.90        -74.009705        40.721142           1

      store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
40874                  N         -73.982819         40.751030             1
14436                  N         -73.978775         40.753376             1
32440                  N         -73.989342         40.742847             1
16869                  N         -73.983475         40.738617             1
42346                  N         -73.971161         40.759014             1

       fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
40874          6.0    0.5      0.5        1.46           0.0
14436          7.5    0.0      0.5        1.66           0.0
32440         15.0    0.5      0.5        1.00           0.0
16869          7.0    0.0      0.5        1.95           0.0
42346         21.0    0.0      0.5        3.00           0.0

       improvement_surcharge  total_amount
40874                    0.3          8.76
14436                    0.3          9.96
32440                    0.3         17.30
16869                    0.3          9.75
42346                    0.3         24.80
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
VendorID                 50000 non-null int64
tpep_pickup_datetime     50000 non-null object
tpep_dropoff_datetime    50000 non-null object
passenger_count          50000 non-null int64
trip_distance            50000 non-null float64
pickup_longitude         50000 non-null float64
pickup_latitude          50000 non-null float64
RatecodeID               50000 non-null int64
store_and_fwd_flag       50000 non-null object
dropoff_longitude        50000 non-null float64
dropoff_latitude         50000 non-null float64
payment_type             50000 non-null int64
fare_amount              50000 non-null float64
extra                    50000 non-null float64
mta_tax                  50000 non-null float64
tip_amount               50000 non-null float64
tolls_amount             50000 non-null float64
improvement_surcharge    50000 non-null float64
total_amount             50000 non-null float64
dtypes: float64(12), int64(4), object(3)
memory usage: 7.2+ MB

In [9]:
# latitude, longitude
location = [40.783939, -73.979752]
data['pickup_latitude'] = data['pickup_latitude'].astype(float)
data['pickup_longitude'] = data['pickup_longitude'].astype(float)

heat_data = [[row['pickup_latitude'],row['pickup_longitude']] for index, row in data.iterrows()]

m = folium.Map(location, zoom_start=11)
heat_map = plugins.HeatMap(heat_data, 
                           radius = 7,
                           min_opacity = 0.5,
                           blur=15,
                           #max_zoom=1
                          )
m.add_child(heat_map)
m.save('nyu_yellow.html')

In [5]:
# nyu_geo = r'GeojsonGraphData/NYU_yellow_road_node_edge.json'

# #Let Folium determine the scale
# folium.GeoJson(
#     nyu_geo,
#     name='geojson'
# ).add_to(m)

In [6]:
# m.save('nyu_heat_with_line.html')