In [18]:
import folium
from folium import plugins
import pandas as pd
import random

In [19]:
# http://www.nyc.gov/html/tlc/html/about/trip_record_data.shtml
p = 0.01
data = pd.read_csv('./yellow_tripdata_2015-12.csv', 
                   nrows=10000, 
                   skiprows=lambda i: i>0 and random.random() > p)

print(data.sample(5))
data.info()

      VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
6831         1  2015-12-03 00:36:07   2015-12-03 00:54:17                1
8080         1  2015-12-03 11:35:30   2015-12-03 11:49:08                1
9611         2  2015-12-01 09:25:21   2015-12-01 09:57:36                1
9411         1  2015-12-01 08:23:52   2015-12-01 08:48:17                1
2793         2  2015-12-01 23:30:59   2015-12-01 23:39:43                4

      trip_distance  pickup_longitude  pickup_latitude  RatecodeID  \
6831           4.70        -74.004349        40.730770           1
8080           2.80        -73.980629        40.754040           1
9611           3.04        -73.989990        40.776100           1
9411           2.40        -73.956261        40.786865           1
2793           1.62        -73.989731        40.741550           1

     store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
6831                  N         -73.955124         40.772545             1
8080                  N         -73.952293         40.778301             1
9611                  N         -73.985649         40.741192             1
9411                  N         -73.978661         40.756302             1
2793                  N         -74.010262         40.731171             2

      fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
6831         17.0    0.5      0.5        2.00           0.0
8080         11.5    0.0      0.5        1.23           0.0
9611         20.0    0.0      0.5        3.00           0.0
9411         15.5    0.0      0.5        3.25           0.0
2793          8.0    0.5      0.5        0.00           0.0

      improvement_surcharge  total_amount
6831                    0.3         20.30
8080                    0.3         13.53
9611                    0.3         23.80
9411                    0.3         19.55
2793                    0.3          9.30
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
VendorID                 10000 non-null int64
tpep_pickup_datetime     10000 non-null object
tpep_dropoff_datetime    10000 non-null object
passenger_count          10000 non-null int64
trip_distance            10000 non-null float64
pickup_longitude         10000 non-null float64
pickup_latitude          10000 non-null float64
RatecodeID               10000 non-null int64
store_and_fwd_flag       10000 non-null object
dropoff_longitude        10000 non-null float64
dropoff_latitude         10000 non-null float64
payment_type             10000 non-null int64
fare_amount              10000 non-null float64
extra                    10000 non-null float64
mta_tax                  10000 non-null float64
tip_amount               10000 non-null float64
tolls_amount             10000 non-null float64
improvement_surcharge    10000 non-null float64
total_amount             10000 non-null float64
dtypes: float64(12), int64(4), object(3)
memory usage: 1.4+ MB

In [20]:
# latitude, longitude
location = [40.783939, -73.979752]
m = folium.Map(location, zoom_start=11)

In [27]:
geo = r'GeojsonGraphData/split_edges.json'

#Let Folium determine the scale
roads = folium.GeoJson(
    geo,
    style_function=lambda feature: {
        'fillColor': '#00ff00',
        'color': 'black',
        'weight': 0.5,
        'dashArray': '5, 5',
        'fillOpacity': 0.5,
    }
)

In [48]:
data['pickup_latitude'] = data['pickup_latitude'].astype(float)
data['pickup_longitude'] = data['pickup_longitude'].astype(float)

heat_data = [[row['pickup_latitude'],row['pickup_longitude']] for index, row in data.iterrows()]


heat_map = plugins.HeatMap(heat_data, 
                           radius = 7,
                           min_opacity = 0.5,
                           blur=15,
                           #max_zoom=1
                          )
m.add_child(heat_map)
m.save('nyu.html')

In [28]:
m.add_child(roads)
m.save('nyu_with_roads.html')